<div class="menu-ribbon" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
  <div class="logo" fxLayout="column">
    <div>
      San Sebastian
    </div>
    <div>
      Equestrian Center
    </div>
  </div>
  <div>
  <button class="menu-button hvr-grow" mat-flat-button routerLink="/home">Home</button>
  <button class="menu-button hvr-grow" mat-flat-button routerLink="/location">Location</button>
  <button class="menu-button hvr-grow" mat-flat-button routerLink="/services">Services</button>
  <button class="menu-button hvr-grow" mat-flat-button routerLink="/contact">Contact</button>
  </div>
  <div>
  </div>
</div>
