.footer-ribbon {
  height: 150px;
  width: 100%;
  background-color: #6b4939;
  opacity: 0.5;
  color: white;
  padding: 0px 32px 0px 32px;
}

.footer-column {
  width: 33%;
  margin: 15px 25px 15px 25px;
}

.col-text {
  width: 65%;
  text-align: wrap;
}

.col-header {
  font-size: medium;
  margin-bottom: 10px;
}

.col-text {
  font-size: small;
}

a {
  color: white;
  text-decoration: none;
}
