<div class="footer-ribbon" fxLayout="row" fxLayout=space-between>
  <div class="footer-column" fxLayout="column">
    <div class="col-header">About</div>
    <p>San Sebastian is a friendly boarding barn that offers premium care in a private setting about 30 minutes from downtown Seattle.</p>
  </div>
  <div class="footer-column" fxLayout="column">
    <div class="col-header">Site Links</div>
    <a routerLink="/home">Home</a>
    <a routerLink="/location">Location</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/contact">Contact</a>
  </div>
  <div class="footer-column" fxLayout="column">
    <div class="col-header">Follow</div>
    <a>Facebook</a>
    <a>Instagram</a>
    <a>Twitter</a>
  </div>
</div>
