<section fxLayout="column" fxLayoutAlign="center">
  <mat-card class="about-card" ngClass.gt-xs="about-card-full" ngClass.xs="about-card-small" fxLayout="column">
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
      <div class="card-column">
        <div class="heading-text">About</div>
        <p>San Sebastian Equestrian Center opened its doors on October 31, 1999. My barn manager, Salvador Holguin, was there on the
          very first day. <span><a href="https://hamishanderson.com/" target="_blank">Hamish Anderson</a></span> was building our home
          at the time so he was the general contractor for the equestrian facility as well.
        </p>
        <p>San Sebastian Equestrian is a small facility with daily turnout, </p>
      </div>
      <div class="card-column">
        <div class="heading-text">Helpful links</div>
        <p>USET - US equestrian federation</p>
        <p>USDF - US Dressage federation</p>
        <p>USDF Region 6 - Our regional USDF group</p>
        <p>Equestrian's Institute - Local GMO for Dressage</p>
        <p>FEI - International Federation for Equestrian Sports</p>
        <div class="fb-like" data-href="https://www.facebook.com/sansebastianec" data-width="100" data-layout="standard"
          data-action="like" data-size="large" data-share="true">Like Me!</div>
      </div>
    </div>
  </mat-card>
</section>
