.contact-card {
  margin: 32px;
  padding: 32px;
}

.contact-title {
  margin: 16px 0px 24px 0px;
}

.contact-text {
  width: 75%;
  text-overflow: wrap;
  margin: 16px 0px 16px 0px;
}

.input-75 {
  width: 75%;
}

.button-row {
  margin-top: 24px;
}
