.contact-page {
  border: 1px solid blue;
}

.contact-card {
  width: 50%;
  margin: 32px;
  padding: 32px;
}

.form-card {
  border: 1px solid red;
}

.contact-title {
  margin: 16px 0px 16px 0px;
}

.input-75 {
  width: 75%;
}

.button-row {
  margin-top: 24px;
}
