.page-layout {
  height: 100%;
  width: 100%;
}

.contact-card {
  padding: 32px;
  margin: auto;
}

.contact-card-full {
  width: 65%;
  height: 80%;
}

.contact-card-small {
  width: 100%;
}

.contact-title {
  margin: 16px 0px 24px 0px;
}

.contact-text {
  width: 75%;
  text-overflow: wrap;
  margin: 16px 0px 16px 0px;
}

.input-75 {
  width: 75%;
}

.button-row {
  margin-top: 24px;
}
