.page-wrapper {
  min-height: 100vh;
  height: 100vh;
  background-image: url('../assets/images/outdoorarena2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-layout {
  height: 84vh;
}

