.page-wrapper {
  min-height: 100vh;
  height: 100%;
}

.page-wrapper-background-image {
  background-color: #6b4939;
  background-image: url('../assets/images/outdoorarena2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-wrapper-md {
  background-color: #99ffcc;
}

.page-wrapper-sm {
  background-color: pink;
}

.page-wrapper-xs {
  background-color: #ffff99
}

.page-wrapper-solid {
  background-color: #dbc6bd;
}

.router-layout {
  width: 99%;
  height: 74%;
}

