.page-layout {
  height: 100%;
  width: 100%;
}

.services-card {
  width: 65%;
  height: 85%;
  padding: 28px;
  margin: auto;
}

.card-text {
  margin-bottom: 32px;
}

.card-column {
  margin: 14px;
}

.heading-text {
  font-weight: 500;
  font-size: larger;
  margin: 0px 0px 24px 0px;
}
