
.services-card {
  padding: 28px;
  margin: auto;
}

.services-card-full {
  width: 65%;
  height: 80%;
}

.services-card-small {
  width: 100%;
}


.card-text {
  margin-bottom: 32px;
}

.card-column {
  margin: 14px;
}

.heading-text {
  font-weight: 500;
  font-size: larger;
  margin: 0px 0px 24px 0px;
}

.download-section {
  margin: 16px 0px 16px 0px;
}
