.services-card {
  margin: 32px;
  padding: 32px;
}

.card-text {
  margin-bottom: 32px;
}

.card-column {
  margin: 14px;
}

.heading-text {
  font-weight: 500;
  font-size: larger;
  margin: 0px 0px 24px 0px;
}
